<%- include('partials/header') %> <!-- Include header and navbar from partials -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Section-About -->
 <section class="About-section py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/images/web-developer-illustration.webp" alt="web developer" class="custom-img img-fluid">
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bold text-body-emphasis">About Me</h1>
                <p class="lead">I am a junior developer with a passion for creating and developing websites and applications. Using experience in HTML, CSS, JavaScript, React, and Solidity. I am currently learning more about blockchain technology and smart contracts. I am looking for opportunities to work on exciting projects and expand my knowledge and skills.</p>

                <div id="more-info" style="display: none;">
                    <p>In addition to Web3 and blockchain, I have experience with various front-end frameworks and tools, including Vue.js and Bootstrap. I'm also an avid learner of backend technologies like Node.js and Express.</p>
                    <ul>
                        <li>HTML/CSS</li>
                        <li>JavaScript (React, Vue.js)</li>
                        <li>Solidity</li>
                        <li>Smart Contracts</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="b-example-divider"></div>
</body>
</html>
 

<%- include('partials/footer') %> <!-- Include footer from partials -->
